$nav-text-color: #000;
$primary: #021059;
$footer-bg-color: #222222;
$dark-blue: #021059;
$grey-bg: #f2f2f2;
$yellow: #ff9d14;

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
