$nav-text-color: #474747;
$primary: #5e86c8;
$footer-bg-color: #222222;

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
