/* HEADER */
.header {
  position: fixed;
  width: 100%;
  z-index: 9999999;
  padding: 2rem 1rem;
  background: white;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  &__contact {
    display: flex;
    text-align: right;
    font-size: 1.6rem;
    justify-items: center;
  }

  &__menu {
    bottom: 0;
    white-space: nowrap;
    align-items: center;
  }

  &__inner {
    max-width: 112.5rem;
    margin: 0 auto;
    padding: 0rem 1rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__button-set {
    margin-top: -1rem;
    display: flex;
  }

  &__button-set .btn:not(first-child) {
    margin-left: 1.5rem;
  }
}

/* Sub Menus */

#menu-main-menu li {
  position: relative !important;
}

#menu-main-menu li:hover .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 30rem;
  left: 0;
  height: auto;
  z-index: 9999;
  background-color: #fff !important;
  text-align: left;
  overflow: hidden;
  border: 1px solid lightgrey;
  //border-top: none;
}

.sub-menu li {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.sub-menu li a {
  padding: 1rem 1rem !important;
  width: 100%;
}

.sub-menu li a:hover {
  border-bottom: 3px solid $primary !important;
}

.menu-item-has-children::after {
  content: "";
  height: 10px;
  width: 10px;
  border: none;
  border: 5px solid transparent;
  border-top: 5px solid $nav-text-color;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* Header Search Form */

.search-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#searchform {
  position: relative;
}

#searchform label {
  display: none;
}

#searchform input[type="search"] {
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  position: relative;
}

#searchsubmit {
  z-index: 99999;
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

/* Header Logo */

.custom-logo {
  max-width: 15rem;
  height: auto;
}

.custom-logo-link {
  transition: 2s;
  display: inline-block;
}

/* Main Menu */

#menu-main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#menu-main-menu li {
  display: flex;
  align-items: center;
}

#menu-main-menu li a {
  padding: 3rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $nav-text-color;
  transition: 0.3s ease-out;
  font-weight: 600;
  border-bottom: 3px solid transparent;
}

#menu-main-menu a:hover {
  color: $primary;
}

/* Header Button */

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-blue {
  background: $dark-blue;
}

.btn-orange {
  background: $yellow;
}

/* HOME SECTIONS */

.slideshow-section {
  height: calc(100vh - 179px) !important;
}

.home-top-info {
  height: calc(100vh - 179px);

  &__inner {
    max-width: 112.5rem;
    margin: 0 auto;
    align-items: center;
    height: 100%;
  }
}

/* Top Info V2 */
.top-info-v2 {
  position: relative;

  &__inner {
    width: 112.5rem;
    max-width: 112.5rem;
    height: 100%;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__inner .col-10 {
    height: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__text-container {
    display: block;
    max-width: 65rem;
    text-align: right;
    transform: translateY(-5rem);
  }

  &__text-container span {
    padding: 0.3rem 1rem;
    line-height: 7rem;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.8);
  }

  &__footer {
    position: absolute;
    width: 100%;
    padding: 2rem;

    bottom: 0;
    color: #fff;
    background-color: rgba($dark-blue, 0.6);

    &__inner {
      max-width: 112.5rem;
      margin: 0 auto;

      & h2 {
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

/* Priority section */

.priority-section {
  margin-top: 4rem;
  padding: 1rem 1rem;

  & .col {
    padding: 1rem 1rem;
  }

  &__inner {
    max-width: 112.5rem;
    margin: 0 auto;
  }

  &__cards {
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
  }

  &__card {
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    text-align: center;
    //box-shadow: 0px 1px 5px 0px #ddd;

    &--three-cols {
      width: calc(33.3333333333% - 2rem);
      margin: 1rem;
      text-align: center;
      //box-shadow: 0px 1px 5px 0px #ddd;
      display: flex;
      align-items: center;
    }
  }
}

.get-started-section {
  text-align: center;
  padding: 10rem 0;

  &__inner {
    max-width: 111.5rem;
    margin: 0 auto;
  }
}

/* What we offer Section */
.what-we-offer-section {
  padding: 9rem 1rem;

  &__inner {
    max-width: 112.5rem;
    margin: 0 auto;
  }

  & h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      width: 50px;
      height: 50px;
      border-bottom: 4px solid #fff;
      left: 50%;
      top: 1rem;
      transform: translate(-50%);
    }
  }

  &__cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    width: calc(33.33333333333333% - 4rem);
    min-width: 30rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem 5rem;
    margin: 2rem 2rem;

    & h3 {
      font-weight: bold;
      text-transform: uppercase;
      color: $primary;
      margin-bottom: 4rem;
    }

    & img {
      margin: 3rem 2rem;
    }
  }
}

/* Featurette Section  */

.solutions-section {
  margin-top: 17rem;
}

.solutions-section__inner .row {
  background-color: $grey-bg;
  margin-bottom: 1rem;
}

.solutions-section__inner .row:first-child {
  margin-bottom: 5rem;
}

.solutions-section__inner .row__inner {
  max-width: 115rem;
  margin: 0 auto;
}

.solutions-section__inner .row .col {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.solutions-btn-set {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.solutions-btn-set button {
  cursor: pointer;
  background: #fff;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5rem;
  margin-right: 1rem;
  font-size: 1.7rem;
  font-family: "Quicksand", sans-serif;
}

.solutions-home-img--ds {
  display: none;
}

button.solutions-btn-set__active {
  font-weight: bold;
  cursor: auto;
  box-shadow: none;
  background-color: $yellow !important;
  color: white;
}

button.overview-btn-set__active {
  font-weight: bold;
  cursor: auto;
  box-shadow: none !important;
  background-color: $yellow !important;
  color: white;
}

.col-5-meta1 {
  justify-content: flex-end;
  position: relative;
}

.col-5-meta2 {
  justify-content: flex-start;
  position: relative;
}

.col-5-meta2-img img {
  transform: translateY(-25%);
  max-height: 50rem;
  position: absolute;
}

.solutions-section__meta {
  margin-top: 3rem;
  max-width: 52.5rem;
}

.upsell-section {
  padding: 12rem 1rem;

  &__inner {
    max-width: 115rem;
    margin: 0 auto;
  }

  &__message {
    max-width: 50rem;
  }
}

.platform-section {
  padding: 5rem 1rem;

  &__card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    padding: 1rem;
    margin: 3rem 0;
    width: 20%;
  }

  &__text {
    margin-top: 3rem;
    text-transform: uppercase;
  }

  &__inner {
    text-align: center;
    max-width: 112.5rem;
    margin: 0 auto;
  }
}

.why-choose-us-section {
  padding: 10rem 0;
  transform: skewY(-7deg);

  &__inner {
    transform: skewY(7deg);
    text-align: center;
    max-width: 112.5rem;
    margin: 0 auto;
  }

  &__card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    width: 33.33333333333333%;
    text-align: center;
    padding: 3rem 2rem;
  }

  &__text {
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.clients-section__inner {
  max-width: 112.5rem;
  margin: 0 auto;
  text-align: center;
}

/* Integration Section */

.integration-section {
  margin: 5rem 5rem;

  &__inner {
    max-width: 112.5rem;
    margin: 0 auto;
  }

  &__text-container {
    text-align: right;
  }

  &__text-container h2 {
    font-size: 4rem;
  }

  &__img-container .col-5 {
    margin: 1rem 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 5px 5px #f7f7f7;
  }

  &__img-container .col-5 img {
    margin: 1rem 0;
  }
}

/* Client Slider Overrides */

.slick-slide {
  height: 6rem;
  width: auto;
}

.wpcp-single-item {
  border: none !important;
}

.wpcp-slide-image img,
.slick-slide {
  height: 11rem !important;

  width: auto;
}

.wpcp-carousel-wrapper {
  margin: 4rem 0;
}

.slick-arrow,
.slick-dots {
  display: none !important;
}

/* Footer */

.footer {
  background: $footer-bg-color;
  padding: 1rem 0;

  & h4 {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid $yellow;
      left: 0;
      top: 0.2rem;
    }
  }

  &__main {
    color: #fff;
  }

  &__inner {
    max-width: 112.5rem;
    margin: 0 auto;
    padding: 1rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 4rem 1rem;
  }

  &__image-container img {
    max-width: 15rem;
    height: auto;
  }

  & p {
    color: #fff;
    font-size: 1.4rem;
  }

  &__copyright {
    margin-top: 3rem;
    text-align: center;
    font-weight: 500;

    & a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__social {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }

  &__social a {
    padding: 0 1rem;
  }

  &__social img {
    max-width: 2.5rem;
  }

  &__text {
    text-transform: uppercase;
    font-size: 2rem;
  }
}

/* Generic Unordered List */

.unordered-list {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;

  &__item,
  & li {
    display: flex;
  }

  &__link,
  & li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

/* BUTTONS */

.btn-call-to-action {
  background: $yellow;
  display: inline-block;
  padding: 1.6rem 6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

/* Products Menu */

#menu-products-menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

#menu-products-menu li {
  display: flex;
  align-items: center;
  background-color: $primary;
  margin: 0.5rem;
  overflow: hidden;
  transition: 0.5s;
}

#menu-products-menu li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

#menu-products-menu li:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#menu-products-menu .current-menu-item {
  background: $yellow;
}

#menu-products-menu .current-menu-item a {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: none !important;
}

/* Products Page Product Post Type */

.products__cards {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.products__card {
  background: transparent;
  perspective: 1000px;
  background: transparent;
  transform-style: preserve-3d;
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin: 3rem;
  transition: 1s;
}

.products__card:hover {
  transform: rotateY(180deg);
}

.products__card--front {
  background: $primary;
  border-radius: 100%;
}

.products__card--back {
  transform: rotateY(180deg);
  background: $yellow;
  border-radius: 100%;
}

.products__card--front,
.products__card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-inner-content {
  padding: 4rem;
  color: #fff;
  text-align: center;
}

/* Products Section */

.products-section {
  &__details {
    &--right {
      display: flex;
      flex-direction: column;

      & a {
        margin-left: auto;
      }
    }
  }

  &__header {
    text-align: center;
    margin-top: 17rem;
    padding: 7rem 1rem;
  }

  &__row {
    padding: 13rem 1rem;
    position: relative;
  }

  &__inner {
    max-width: 115rem;
    margin: 0 auto;
    & .btn-call-to-action {
      position: absolute !important;
      bottom: -8rem;
    }
  }
}

/* Why IGDC Template */

.trusted-partners-section__text {
  display: none;
}

.value-icon img {
  max-width: 5rem;
  height: auto;
}

.core-valus-container .col {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.overview-section {
  background: #f2f2f2;
}

.overview-section__container + p {
  margin-top: 3rem !important;
}

.overview-section__inner {
  max-width: 115rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  position: relative;
}

.overview-section-img-container img {
  display: inline-block;
  margin: 0 auto;
  transform: translateY(-30%);
}

.overview-section__container {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -90%);
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overview-section__btn-set + p {
  margin-top: 4rem !important;
}

.overview-section__btn-set {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, -75%);
}

.overview-section__btn-set button {
  padding: 1rem;
  cursor: pointer;
  border: none;
  background: #f2f2f2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overview-section__btn-set button:first-child {
  margin-right: 1rem;
}

#trusted-partners-right-img {
  display: none;
}

.mission-vision {
  padding: 15rem 1rem;
}

.mission-vision .col-5 {
  padding: 1rem;
}

.mission-vision__inner {
  max-width: 115rem;
  margin: 0 auto;
  align-items: center;
}

.mission-vision__left-image-container img {
  width: 100%;
}

.mission-vision__text-container {
  text-align: center;

  & p:first-of-type {
    margin-bottom: 8rem;
  }
}

.section-tab {
  font-size: 1.7rem !important;
}

.section-tab {
  background: #fff;
  border: none;
}

.overview-trusted-partners__inner {
  max-width: 115rem;
  margin: 0 auto;
  padding: 2rem 0rem;
}

.wpcp-wrapper-55 {
  display: none;
}

/* Product Page */
.priority-section__product-img-container {
  display: flex;
}

.priority-section__inner img {
  max-width: 100%;
  height: auto;
}

/* Featurette Heading */

.solutions-section__heading {
  max-width: 100rem;
  margin: 5rem auto;
  text-align: center;
}

/* Trusted Partners Section */

.trusted-partners-section {
  max-width: 112.5rem;
  margin: 8rem auto;

  & h2 {
    font-weight: bold;
  }
}

.trusted-partners-section__carousel {
  text-align: center;
}

/* Breadcrumbs */
#breadcrumbs a,
.breadcrumb_last {
  position: relative;
  padding: 1rem 2.5rem !important;
}

#breadcrumbs a::after {
  content: "";
  top: -1;
  z-index: 99999;
  right: -40;
  border: 21px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
}

.breadcrumb_last::after {
  content: "";
  top: 0;
  z-index: 99999;
  right: -40;
  border: 20px solid transparent;
  border-left: 20px solid #021059;
  position: absolute;
}

/* Featured Products */

.featured-products {
  margin-top: 2.5rem;
  background: #f2f2f2;
  position: relative;

  & h2 {
    position: absolute;
    z-index: 99999;
    left: 25%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    background: #021059;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  &__inner {
    max-width: 115rem;
    margin: 0 auto;
    position: relative;
  }
}

.featured-products .n2-ss-section-main-content {
  background: #f2f2f2;
}

.n2-ss-layer {
  font-family: "Quicksand", sans-serif;
}

.solutions-home-img {
  transition: 2s;
}

//Founders

.founders-section {
  font-size: 1.4rem;
  &__col {
    text-align: left;
    transform: translatey(-5rem);
    padding: 0 5rem;
    & h3 {
      text-transform: capitalize;
      font-size: 2.5rem;
      font-weight: bold;
    }
    &__inner {
      position: relative;
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  &__inner-text {
    padding: 3rem 2rem;
  }

  &__inner {
    & h2 {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin: 8rem 0;
    }
    &__inner {
      margin-top: 8rem;
      border: 0.6rem dotted $primary;
      height: 40rem;
      max-width: 100rem;
      margin: 0 auto;
    }
  }

  &__bio {
    margin: 1rem 0;
  }

  &__small-bio {
    margin: 1rem 0;
    max-width: 15rem;
  }
  &__bio-img {
    position: absolute;
    right: -2rem;
    bottom: 0;
    max-width: 35rem;
  }
}

.founders-section-text {
  margin-top: 25rem;
  margin-bottom: 15rem;

  & h3 {
    text-align: center;
    font-weight: bold;
  }
}

// Management

.management-section {
  background: $grey-bg;
  margin-top: 44rem;
  margin-bottom: 25rem;
  height: 29rem;

  &__bio-img {
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
  }

  &__col-wrapper {
    padding: 0 2rem;
  }

  & h2 {
    margin: 2rem 0;
    text-align: center;
  }
  & h3 {
    font-weight: bold;
  }

  &__row--2 {
    margin-top: 1rem;
    text-align: center;
  }

  &__position {
    font-size: 1.8rem;
  }
}

//Mobile Menu

.mobile-menu-btn {
  border: 1px solid $primary;
  width: 5rem;
  height: 5rem;
  align-self: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: auto;
  display: none;

  flex-direction: column;
  &__line {
    width: 100%;
    border: 1px solid $primary;
    align-items: center;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

//Sidebar

.sidebar {
  display: none;
  position: fixed;
  right: -70%;
  width: 70%;
  height: 100%;
  background: $primary;
  z-index: 9999999;
  transition: 0.5s;

  &__close-btn {
    padding: 3rem;
    cursor: pointer;
    color: #fff;

    &:hover > svg {
      border-radius: 1rem;
      background: #fff;
    }

    &:hover svg path {
      fill: $primary;
    }
  }

  & ul {
    list-style: none;
    & li {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      & a {
        position: relative;
        font-size: 2rem;
        color: #fff;
        width: 100%;
        padding: 1rem 2rem;
        text-decoration: none;
      }

      & .sub-menu {
        position: relative;
        display: block;
        width: 100%;
        flex-direction: column;
        & li {
          padding: 1rem 2rem;
          & a {
            color: $primary;
          }
        }
      }
    }
  }
}

//Careers Page

.careers {
  margin-bottom: 5rem;
  &__col {
    padding: 1rem;
  }

  &__list-container {
    display: flex;
    flex-direction: column;
  }
  &__list-header {
    & h2 {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: inline-block;
      background: $primary;
      padding: 1rem 2rem;
      color: #fff;
      font-size: 2.5rem;
    }
  }

  &__list-item {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

// Search Page

.search-result-box {
  border: 1px solid #ededed;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &__content {
    margin-top: 1rem;
  }

  &__button {
    align-self: flex-end;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: $primary;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 1rem;
  }

  &:last-child {
    margin-bottom: 15rem;
  }
}

//Privacy Page Style

.page-id-638 {
  & h1,
  & h2,
  & h3,
  & h4 {
    margin-top: 3rem;
  }
  & .page-wrapper {
    padding-bottom: 10rem;
  }
}

.page-template-careeers-template {
  & .page-wrapper {
    padding-bottom: 15rem;
  }
}

.why-igdc-slider {
  display: none;
}

//Partial About Us
.about-us-partial {
  background-color: $grey-bg;
  padding-bottom: 4rem;
  &__inner {
    position: relative;
  }

  &__tab {
    position: absolute;
    transform: translatey(-50%);
    left: 100px;
    padding: 1rem;
    background: orange;
    font-size: 2rem;
    color: fff;
    font-weight: bold;
  }
}

#home-products-row {
  padding: 10rem 1rem;
}

.ambition-and-purpose {
  padding-bottom: 3rem;
  & h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0rem 0 6rem 0;
    font-weight: bold;
  }

  & h3 {
    font-weight: bold;
    font-size: 3.5rem;
  }

  & .col-4 {
    padding: 4rem;
  }
}

.our-princinples-section {
  height: 55rem;
  justify-content: flex-end;

  &__inner {
    padding: 2rem 0;
    background-image: linear-gradient(to top, $primary 1%, transparent 90%);
  }
}

.founders-text {
  display: none;
}

.founder-read-less {
  display: none;
  cursor: pointer;
}

.founder-read-less span {
  margin-left: 0.5rem;
}

.founder-read-more {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.founder-read-more span,
.founder-read-less span {
  text-decoration: underline;
  color: #021059;
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

.priciple-list {
  padding: 3rem 1rem;

  & h4 {
    font-weight: bold;
    font-size: 1.9rem;
  }
  & ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    & li {
      line-height: 1.9rem;
      padding: 1.7rem 0;

      & p {
        font-size: 1.7rem;
      }
    }
  }
}

.top-info-v2__footer {
  position: absolute !important;
  bottom: 0 !important;
  text-align: center;
}

.top-info-v2__footer p {
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
}

.top-info-v2__footer .n2-ss-layer-row-inner {
  display: block !important;
}

.about-us {
  &__content-wrapper {
    padding: 3rem 0;
  }
}

.about-us-main-content {
  display: none;
}

.about-read-more,
.about-read-less {
  font-size: 1.6rem;
}

.about-read-more span,
.about-read-less span {
  text-decoration: underline;
  color: #021059 !important;
  cursor: pointer;
}

.home-products-middle {
  text-align: center;
}

.home-products-middle p {
  font-size: 2.5rem;
}

#home-products-row h2 {
  font-size: 8.5rem !important;
}

.founders-section__col:first-child .founders-section__inner-text {
  padding-top: 3.5rem !important;
  padding-bottom: 5.2rem;
}

.ambition-and-purpose .col-4 {
  padding: 1rem;
}
