



.small-margin-top{
  margin-top:1rem;
}

.medium-margin-top{
  margin-top: 2rem;
}

.large-margin-top{
  margin-top: 3rem;
}

.extra-large-margin-top{
  margin-top: 15rem;
}

.img-responsive{
  width: 100%;
}

.large-equal-padding{
  padding: 4rem;
}

.solutions-home-img{
  max-width: 50rem;
}