.no-box-shadow {
  box-shadow: none !important;
}

/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 3rem;
}

/* Forminator */

.forminator-custom-form input,
.forminator-textarea {
  background: #fff !important;
  border: 1px solid $primary !important;
  padding: 2rem 1rem !important;
}

/* WP Buttons */

.wp-block-button__link {
  background-color: $primary;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
}

/* Fig Caption */
figcaption {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.wp-block-image:not(.is-style-rounded) img {
  height: auto;
}

.blocks-gallery-grid {
  margin-left: 0 !important;
}

.page-main p:first-child {
  margin-top: 0;
}

/* Breadcrumbs */

#breadcrumbs span {
  display: flex;
}

#breadcrumbs span span:first-child {
  border: 1px solid #ededed;
}

#breadcrumbs span span {
  background: #fff;
}

.breadcrumb_last {
  background: $primary;
  height: 100%;
  color: #fff;
}

#breadcrumbs a,
#breadcrumbs strong {
  padding: 1rem;
  text-decoration: none;
}

/* LOGO */

.custom-logo-link img {
  width: 100%;
}

/* Slider Button */
.n2-ss-button-container {
  margin-top: 2rem;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

.wp-block-buttons {
  margin: 3rem 0 0 0;
}
