p {
  font-size: 1.6rem;
  margin: 1rem 0;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h1 {
  font-size: 4.5rem;
  font-weight: 300;
}

h2 {
  font-size: 3.4rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

h2.white {
  font-size: 5.4rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Page List */

.page-main ul {
  margin-left: 5rem;
  margin-top: 1rem;
}

.page-main ul li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

/* WHY IGDC Paragraphs Size */
.page-template-why-igdc-template p {
  font-size: 1.7rem;
}

.page-heading {
  color: #fff;
}

.top-info-v2 h2 {
  font-size: 2.5rem;
}

//.solutions-section .solutions-section__heading p:first-child, .products-section p{
//  font-size:1.8rem;
//  font-weight: bold;
//}

.featured-products h2 {
  font-size: 3.7rem;
}

.n2-ss-button-container a {
  text-transform: uppercase;
  // background: $yellow !important;
  text-transform: uppercase !important;
}

.solutions-section__row p,
.products-section__row p {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  text-shadow: 2px 2px rgba(88, 88, 88, 0.7);
}

#home-disinfect-h1 {
  color: #58ffa7;
  font-style: italic;
  font-family: "Lato", sans-serif;
}

#home-core-relief-h1 {
  color: #ffe644;
  font-style: italic;
  font-family: "Lato", sans-serif;
}

#home-vector-h1 {
  color: #ff6100;
  font-style: italic;
  font-family: "Lato", sans-serif;
}
