html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0; }

/* Pages */
.page-header {
  height: 25.8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.page-heading {
  text-transform: uppercase;
  font-weight: bold; }

.page-main {
  max-width: 132rem;
  margin: 0 auto;
  padding: 5rem 1rem; }

/* INLINE DISPLAY ELMENTS */
.inline {
  display: flex; }

/* COLUMNS */
.col-2 {
  width: 20%; }

.col-2-5 {
  width: 25%; }

.col-3 {
  width: 30%; }

.col-4 {
  width: 40%; }

.col-5 {
  width: 50%; }

.col-6 {
  width: 60%; }

.col-7 {
  width: 70%; }

.col-8 {
  width: 80%; }

.col-10 {
  width: 100%; }

p {
  font-size: 1.6rem;
  margin: 1rem 0; }

h1 {
  font-size: 4.5rem;
  font-weight: 300; }

h2 {
  font-size: 3rem;
  font-weight: 400; }

h3 {
  font-size: 2rem;
  font-weight: 300; }

h4 {
  font-size: 1.5rem;
  font-weight: bold; }

/* Page List */
.page-main ul {
  margin-left: 5rem;
  margin-top: 1rem; }

.page-main ul li {
  font-size: 1.6rem;
  line-height: 2.5rem; }

/* PAGE WRAPPER */
.page-wrapper {
  padding-top: 11rem; }

/* HEADER */
.header {
  box-shadow: 0px 0px 10px 5px #c1c1c1 !important;
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: #fff;
  padding: 2rem 0 6.5rem 0; }
  .header__contact {
    text-align: right;
    font-size: 1.6rem; }
  .header__menu {
    padding: 0 2rem;
    position: absolute;
    background-color: #3669a2;
    width: 112.5rem;
    left: 50%;
    bottom: 0;
    white-space: nowrap;
    transform: translate(-50%, 50%);
    align-items: center; }
  .header__inner {
    max-width: 155.8rem;
    margin: 0 auto;
    padding: 0rem 1rem; }
  .header__logo-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header__button-set {
    margin-top: -1rem;
    display: flex; }
  .header__button-set .btn:not(first-child) {
    margin-left: 1.5rem; }

/* Header Search Form */
.search-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

#searchform {
  position: relative; }

#searchform label {
  display: none; }

#searchform input[type='search'] {
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  position: relative; }

#searchsubmit {
  z-index: 99999;
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%); }

/* Header Logo */
.custom-logo {
  max-width: 15rem;
  height: auto; }

.custom-logo-link {
  display: inline-block; }

/* Main Menu */
#menu-main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; }

#menu-main-menu li {
  display: flex;
  align-items: center; }

#menu-main-menu li a {
  padding: 3rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: .3s;
  font-weight: 600;
  border-bottom: 3px solid transparent; }

#menu-main-menu a:hover {
  color: #fff;
  border-bottom: 3px solid #fff; }

/* Header Button */
.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: .8rem 2rem;
  text-transform: uppercase;
  font-weight: bold; }

.btn-blue {
  background: #3669a2; }

.btn-orange {
  background: orangered; }

/* HOME SECTIONS */
.home-top-info {
  height: 100vh; }
  .home-top-info__inner {
    max-width: 155.8rem;
    margin: 0 auto;
    align-items: center;
    height: 100%; }

.get-started-section {
  text-align: center;
  padding: 10rem 0; }
  .get-started-section__inner {
    max-width: 111.5rem;
    margin: 0 auto; }

.featurette-section {
  padding: 2rem 0; }

.featurette-section__inner .row .col {
  padding: 12rem 3rem;
  margin-bottom: 1rem;
  background-color: #f1f9ff;
  display: flex; }

.col-5-meta1 {
  justify-content: flex-end; }

.col-5-meta2 {
  justift-content: flex-start; }

.featurette-section__inner .row .col:first-child {
  margin-right: 1rem; }

.featurette-section__meta {
  max-width: 52.5rem; }

.upsell-section {
  padding: 12rem 1rem; }
  .upsell-section__message {
    max-width: 50rem; }

.platform-section {
  padding: 5rem 1rem; }
  .platform-section__card-container {
    flex-wrap: wrap;
    justify-content: center; }
  .platform-section__card {
    padding: 1rem;
    margin: 3rem 0;
    width: 20%; }
  .platform-section__text {
    margin-top: 3rem;
    text-transform: uppercase; }
  .platform-section__inner {
    text-align: center;
    max-width: 132rem;
    margin: 0 auto; }

.why-choose-us-section {
  padding: 10rem 0;
  transform: skewY(-7deg); }
  .why-choose-us-section__inner {
    transform: skewY(7deg);
    text-align: center;
    max-width: 132rem;
    margin: 0 auto; }
  .why-choose-us-section__card-container {
    flex-wrap: wrap;
    justify-content: center; }
  .why-choose-us-section__card {
    width: 33.33333333333333%;
    text-align: center;
    padding: 3rem 2rem; }
  .why-choose-us-section__text {
    text-transform: uppercase;
    font-size: 2rem; }

.clients-section__inner {
  max-width: 132rem;
  margin: 0 auto;
  text-align: center; }

/* Integration Section */
.integration-section {
  margin: 5rem 0; }
  .integration-section__inner {
    max-width: 134.4rem;
    margin: 0 auto; }
  .integration-section__text-container {
    text-align: right; }
  .integration-section__text-container h2 {
    font-size: 4rem; }
  .integration-section__img-container .col-5 {
    margin: 1rem 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 5px 5px #f7f7f7; }
  .integration-section__img-container .col-5 img {
    margin: 1rem 0; }

/* Client Slider Overrides */
.slick-slide {
  height: 6rem;
  width: auto; }

.wpcp-single-item {
  border: none !important; }

.wpcp-slide-image img {
  height: 6rem !important;
  width: auto; }

.wpcp-carousel-wrapper {
  margin: 4rem 0; }

.slick-arrow, .slick-dots {
  display: none !important; }

/* Footer */
.footer {
  background: #222222;
  padding: 1rem 0; }
  .footer__main {
    color: #fff; }
  .footer__inner {
    max-width: 155.8rem;
    margin: 0 auto; }
  .footer__header {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 4rem 1rem; }
  .footer__image-container img {
    max-width: 15rem;
    height: auto; }
  .footer p {
    color: #fff;
    font-size: 1.4rem; }
  .footer__copyright {
    margin-top: 3rem;
    text-align: center;
    font-weight: 500; }
  .footer__social {
    padding: 2rem 0;
    display: flex;
    justify-content: center; }
  .footer__social a {
    padding: 0 1rem; }
  .footer__social img {
    max-width: 2.5rem; }
  .footer__text {
    text-transform: uppercase;
    font-size: 2rem; }

/* Generic Unordered List */
.unordered-list {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none; }
  .unordered-list__item {
    display: flex; }
  .unordered-list__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500; }

/* BUTTONS */
.btn-call-to-action {
  background: orangered;
  display: inline-block;
  padding: 1.6rem 6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold; }

.small-margin-top {
  margin-top: 1rem; }

.medium-margin-top {
  margin-top: 2rem; }

.large-margin-top {
  margin-top: 3rem; }

.extra-large-margin-top {
  margin-top: 15rem; }

.img-responsive {
  width: 100%; }

.no-box-shadow {
  box-shadow: none !important; }
