html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0; }

/* Pages */
.page-header {
  height: 25.8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.page-heading {
  text-transform: uppercase;
  font-weight: bold; }

.page-main {
  max-width: 112.5rem;
  margin: 0 auto;
  padding: 5rem 2rem; }

/* INLINE DISPLAY ELMENTS */
.inline {
  display: flex; }

.vertical-align-center {
  display: flex;
  align-items: center; }

.horizontal-align-center {
  display: flex;
  justify-content: center; }

/* COLUMNS */
.col-2 {
  width: 20%; }

.col-2-5 {
  width: 25%; }

.col-3 {
  width: 30%; }

.col-3-5 {
  width: 33.3333333%; }

.col-4 {
  width: 40%; }

.col-5 {
  width: 50%; }

.col-6 {
  width: 60%; }

.col-7 {
  width: 70%; }

.col-8 {
  width: 80%; }

.col-10 {
  width: 100%; }

p {
  font-size: 1.6rem;
  margin: 1rem 0; }

h1 {
  font-size: 4.5rem;
  font-weight: 300; }

h2 {
  font-size: 3rem;
  font-weight: 400; }

h3 {
  font-size: 2rem;
  font-weight: 300; }

h4 {
  font-size: 1.5rem;
  font-weight: bold; }

/* Page List */
.page-main ul {
  margin-left: 5rem;
  margin-top: 1rem; }

.page-main ul li {
  font-size: 1.6rem;
  line-height: 2.5rem; }

/* WHY IGDC Paragraphs Size */
.page-template-why-igdc-template p {
  font-size: 1.7rem; }

/* PAGE WRAPPER */
.page-wrapper {
  padding-top: 18rem; }

/* HEADER */
.header {
  box-shadow: 0px 0px 10px 5px #c1c1c1 !important;
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: #fff;
  padding: 2rem 0 6.5rem 0; }
  .header__contact {
    text-align: right;
    font-size: 1.6rem; }
  .header__menu {
    padding: 0 2rem;
    position: absolute;
    background-color: #5e86c8;
    width: 112.5rem;
    left: 50%;
    bottom: 0;
    white-space: nowrap;
    transform: translate(-50%, 50%);
    align-items: center; }
  .header__inner {
    max-width: 112.5rem;
    margin: 0 auto;
    padding: 0rem 1rem; }
  .header__logo-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header__button-set {
    margin-top: -1rem;
    display: flex; }
  .header__button-set .btn:not(first-child) {
    margin-left: 1.5rem; }

/* Sub Menus */
#menu-main-menu li {
  position: relative !important; }

#menu-main-menu li:hover .sub-menu {
  display: block; }

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 30rem;
  left: 0;
  height: auto;
  z-index: 9999;
  background-color: #fff !important;
  text-align: left;
  overflow: hidden;
  border: 1px solid rgba(54, 105, 162, 0.3);
  border-top: none; }

.sub-menu li {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important; }

.sub-menu li a {
  padding: 1rem 1rem !important;
  color: #5e86c8 !important;
  width: 100%; }

.sub-menu li a:hover {
  border-bottom: 3px solid #5e86c8 !important; }

.menu-item-has-children::after {
  content: "";
  height: 10px;
  width: 10px;
  border: none;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

/* Header Search Form */
.search-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

#searchform {
  position: relative; }

#searchform label {
  display: none; }

#searchform input[type='search'] {
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  position: relative; }

#searchsubmit {
  z-index: 99999;
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%); }

/* Header Logo */
.custom-logo {
  max-width: 15rem;
  height: auto; }

.custom-logo-link {
  display: inline-block; }

/* Main Menu */
#menu-main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; }

#menu-main-menu li {
  display: flex;
  align-items: center; }

#menu-main-menu li a {
  padding: 3rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: .3s;
  font-weight: 600;
  border-bottom: 3px solid transparent; }

.current-menu-item a {
  border-bottom: 3px solid #fff !important; }

.sub-menu .current-menu-item a {
  border-bottom: 3px solid transparent !important; }

#menu-main-menu a:hover {
  color: #fff;
  border-bottom: 3px solid #fff; }

/* Header Button */
.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: .8rem 2rem;
  text-transform: uppercase;
  font-weight: bold; }

.btn-blue {
  background: #5e86c8; }

.btn-orange {
  background: orangered; }

/* HOME SECTIONS */
.slideshow-section {
  height: calc(100vh - 179px) !important; }

.home-top-info {
  height: calc(100vh - 179px); }
  .home-top-info__inner {
    max-width: 112.5rem;
    margin: 0 auto;
    align-items: center;
    height: 100%; }

/* Top Info V2 */
.top-info-v2 {
  position: relative; }
  .top-info-v2__inner {
    width: 112.5rem;
    max-width: 112.5rem;
    height: 100%;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .top-info-v2__inner .col-10 {
    height: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
  .top-info-v2__text-container {
    display: block;
    max-width: 65rem;
    text-align: right; }
  .top-info-v2__text-container span {
    background: rgba(255, 255, 255, 0.8);
    padding: .3rem;
    line-height: 7rem;
    font-weight: 600; }
  .top-info-v2__footer {
    position: absolute;
    width: 100%;
    padding: 2rem;
    bottom: 0;
    color: #fff;
    background-color: rgba(94, 134, 200, 0.8); }
    .top-info-v2__footer__inner {
      max-width: 112.5rem;
      margin: 0 auto; }
      .top-info-v2__footer__inner h2 {
        text-align: center;
        text-transform: uppercase; }

/* Our Products Section */
.products-section {
  padding: 5rem 1rem; }
  .products-section h2 {
    font-weight: 800;
    text-transform: uppercase; }

.products-section__inner {
  padding: 3rem;
  max-width: 89rem;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.product-section__text-container {
  background: #5e86c8;
  height: 25rem;
  width: 25rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.priority-section__text-wrapper {
  max-width: 70%; }
  .priority-section__text-wrapper h3 {
    text-align: center;
    font-weight: 800;
    color: #fff;
    font-size: 1.6rem; }

.product-section__arrow-path {
  width: 181px;
  height: 181px;
  position: absolute;
  animation: arrowRotate 12s infinite;
  animation-timing-function: linear; }

.product-section__arrow-path-2 {
  width: 179px;
  height: 179px;
  position: absolute;
  animation: arrowRotate 6s infinite;
  animation-timing-function: linear; }

.product-section__arrow-path-2::after {
  position: absolute;
  content: "";
  height: 2.5rem;
  top: -2.2rem;
  right: 0;
  width: 2.5rem;
  border-right: 10px solid orangered;
  border-bottom: 10px solid orangered; }

.product-section__arrow-path::after {
  position: absolute;
  content: "";
  height: 1.4rem;
  top: -1rem;
  right: 0;
  width: 1.4rem;
  border-right: 6px solid orangered;
  border-bottom: 6px solid orangered; }

.product-section__card {
  height: 15rem;
  width: 15rem;
  position: relative;
  transition: 1s;
  perspective: 800px;
  transform-style: preserve-3d;
  border-radius: 100%;
  margin: 1rem; }

.products-section__left {
  display: flex;
  align-items: center;
  justify-content: center; }

.products-section__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.product-section__card:hover {
  transform: rotateY(180deg); }

.product-section__card--front {
  border-radius: 100%;
  padding: 3rem;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  background: #5e86c8; }

.product-section__card--back {
  border-radius: 100%;
  background: orangered;
  padding: 2rem;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden; }

.product-section__card--back h3 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700; }

.product-section__catalogue-btn {
  padding: 1rem;
  background: #fff;
  background: #5e86c8;
  text-decoration: none; }

.product-section__catalogue-btn h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff; }

/* Priority section */
.priority-section {
  padding: 1rem 1rem; }
  .priority-section .col {
    padding: 1rem 1rem; }
  .priority-section__inner {
    max-width: 112.5rem;
    margin: 0 auto; }
  .priority-section__cards {
    flex-wrap: wrap;
    text-align: justify; }
  .priority-section__card {
    width: calc(100% - 2rem);
    padding: 3rem 1rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0px 1px 5px 0px #ddd; }
    .priority-section__card--three-cols {
      width: calc(33.3333333333% - 2rem);
      padding: 3rem 1rem;
      margin: 1rem;
      text-align: center;
      box-shadow: 0px 1px 5px 0px #ddd;
      display: flex;
      align-items: center; }

.get-started-section {
  text-align: center;
  padding: 10rem 0; }
  .get-started-section__inner {
    max-width: 111.5rem;
    margin: 0 auto; }

/* What we offer Section */
.what-we-offer-section {
  padding: 9rem 1rem; }
  .what-we-offer-section__inner {
    max-width: 112.5rem;
    margin: 0 auto; }
  .what-we-offer-section h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative; }
    .what-we-offer-section h2::after {
      content: " ";
      position: absolute;
      width: 50px;
      height: 50px;
      border-bottom: 4px solid #fff;
      left: 50%;
      top: 1rem;
      transform: translate(-50%); }
  .what-we-offer-section__cards {
    flex-wrap: wrap;
    justify-content: center; }
  .what-we-offer-section__card {
    width: calc(33.33333333333333% - 4rem);
    min-width: 30rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem 5rem;
    margin: 2rem 2rem; }
    .what-we-offer-section__card h3 {
      font-weight: bold;
      text-transform: uppercase;
      color: #5e86c8;
      margin-bottom: 4rem; }
    .what-we-offer-section__card img {
      margin: 3rem 2rem; }

/* Featurette Section  */
.featurette-section {
  padding: 2rem 0; }

.featurette-section__inner .row .col {
  padding: 12rem 3rem;
  margin-bottom: 1rem;
  background-color: #f1f9ff;
  display: flex; }

.col-5-meta1 {
  justify-content: flex-end; }

.col-5-meta2 {
  justift-content: flex-start;
  text-align: right; }

.featurette-section__inner .row .col:first-child {
  margin-right: 1rem; }

.featurette-section__meta {
  max-width: 52.5rem; }

.upsell-section {
  padding: 12rem 1rem; }
  .upsell-section__message {
    max-width: 50rem; }

.platform-section {
  padding: 5rem 1rem; }
  .platform-section__card-container {
    flex-wrap: wrap;
    justify-content: center; }
  .platform-section__card {
    padding: 1rem;
    margin: 3rem 0;
    width: 20%; }
  .platform-section__text {
    margin-top: 3rem;
    text-transform: uppercase; }
  .platform-section__inner {
    text-align: center;
    max-width: 112.5rem;
    margin: 0 auto; }

.why-choose-us-section {
  padding: 10rem 0;
  transform: skewY(-7deg); }
  .why-choose-us-section__inner {
    transform: skewY(7deg);
    text-align: center;
    max-width: 112.5rem;
    margin: 0 auto; }
  .why-choose-us-section__card-container {
    flex-wrap: wrap;
    justify-content: center; }
  .why-choose-us-section__card {
    width: 33.33333333333333%;
    text-align: center;
    padding: 3rem 2rem; }
  .why-choose-us-section__text {
    text-transform: uppercase;
    font-size: 2rem; }

.clients-section__inner {
  max-width: 112.5rem;
  margin: 0 auto;
  text-align: center; }

/* Integration Section */
.integration-section {
  margin: 5rem 5rem; }
  .integration-section__inner {
    max-width: 112.5rem;
    margin: 0 auto; }
  .integration-section__text-container {
    text-align: right; }
  .integration-section__text-container h2 {
    font-size: 4rem; }
  .integration-section__img-container .col-5 {
    margin: 1rem 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 5px 5px #f7f7f7; }
  .integration-section__img-container .col-5 img {
    margin: 1rem 0; }

/* Client Slider Overrides */
.slick-slide {
  height: 6rem;
  width: auto; }

.wpcp-single-item {
  border: none !important; }

.wpcp-slide-image img {
  height: 6rem !important;
  width: auto; }

.wpcp-carousel-wrapper {
  margin: 4rem 0; }

.slick-arrow, .slick-dots {
  display: none !important; }

/* Footer */
.footer {
  background: #222222;
  padding: 1rem 0; }
  .footer h4 {
    position: relative; }
    .footer h4::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid orangered;
      left: 0;
      top: .2rem; }
  .footer__main {
    color: #fff; }
  .footer__inner {
    max-width: 112.5rem;
    margin: 0 auto;
    padding: 1rem; }
  .footer__header {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 4rem 1rem; }
  .footer__image-container img {
    max-width: 15rem;
    height: auto; }
  .footer p {
    color: #fff;
    font-size: 1.4rem; }
  .footer__copyright {
    margin-top: 3rem;
    text-align: center;
    font-weight: 500; }
  .footer__social {
    padding: 2rem 0;
    display: flex;
    justify-content: center; }
  .footer__social a {
    padding: 0 1rem; }
  .footer__social img {
    max-width: 2.5rem; }
  .footer__text {
    text-transform: uppercase;
    font-size: 2rem; }

/* Generic Unordered List */
.unordered-list {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none; }
  .unordered-list__item {
    display: flex; }
  .unordered-list__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500; }

/* BUTTONS */
.btn-call-to-action {
  background: orangered;
  display: inline-block;
  padding: 1.6rem 6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold; }

/* Products Menu */
#menu-products-menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; }

#menu-products-menu li {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  background-color: #5e86c8;
  margin: .5rem;
  overflow: hidden;
  transition: .5s; }

#menu-products-menu li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  transition: .5s; }

#menu-products-menu li:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

#menu-products-menu .current-menu-item {
  background: orangered; }

#menu-products-menu .current-menu-item a {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: none !important; }

/* Products Page Product Post Type */
.products__cards {
  display: flex;
  margin: 1rem;
  justify-content: center; }

.products__card {
  background: transparent;
  perspective: 1000px;
  background: transparent;
  transform-style: preserve-3d;
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin: 3rem;
  transition: 1s; }

.products__card:hover {
  transform: rotateY(180deg); }

.products__card--front {
  background: #5e86c8;
  border-radius: 100%; }

.products__card--back {
  transform: rotateY(180deg);
  background: orangered;
  border-radius: 100%; }

.products__card--front, .products__card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.product-inner-content {
  padding: 4rem;
  color: #fff;
  text-align: center; }

/* Why IGDC Template */
.value-icon img {
  max-width: 5rem;
  height: auto; }

.core-valus-container .col {
  display: flex;
  align-items: center;
  padding: 0 .5rem; }

.small-margin-top {
  margin-top: 1rem; }

.medium-margin-top {
  margin-top: 2rem; }

.large-margin-top {
  margin-top: 3rem; }

.extra-large-margin-top {
  margin-top: 15rem; }

.img-responsive {
  width: 100%; }

.large-equal-padding {
  padding: 4rem; }

@media only screen and (max-width: 1239px) {
  .top-info-v2__inner {
    width: 100%; } }

@media only screen and (max-width: 1125px) {
  .header__menu {
    width: 100%; } }

.no-box-shadow {
  box-shadow: none !important; }

/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 3rem; }

/* Forminator */
.forminator-custom-form input, .forminator-textarea {
  background: #fff !important;
  border: 1px solid #5e86c8 !important;
  padding: 2rem 1rem !important; }

/* WP Buttons */
.wp-block-button__link {
  background-color: #5e86c8;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0; }

/* Fig Caption */
figcaption {
  text-align: center;
  font-weight: 600;
  font-size: 2rem; }

.wp-block-image:not(.is-style-rounded) img {
  height: auto; }

.blocks-gallery-grid {
  margin-left: 0 !important; }

.page-main p:first-child {
  margin-top: 0; }

/* Breadcrumbs */
#breadcrumbs span {
  display: flex; }

#breadcrumbs span span:first-child {
  border: 1px solid #ededed; }

#breadcrumbs span span {
  background: #fff; }

.breadcrumb_last {
  background: #5e86c8;
  height: 100%;
  color: #fff; }

#breadcrumbs a, #breadcrumbs strong {
  padding: 1rem;
  text-decoration: none; }

@keyframes arrowRotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
